<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #f3dcef77;">
  <div class="container1" >
 
    <nav class="nav nav-pills flex-row flex-sm-row" >
     
      <a class="flex-sm-fill text-sm-center nav-link " href="" >SkincareSavant</a>
      <a class="flex-sm-fill text-sm-center nav-link " href="">Home</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="/about">About Us</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="/login">Log In</a>
    
    </nav>
 
    </div>
  </nav>