

    <nav class="m-4 font-weight-bold navbar-expand-sm bg-dark navbar-dark flex-column flex-sm-row">
     <div id="navBar" class="d-flex bd-highlight mb-3">
       <div class="mr-auto p-2 bd-highlight">
         <a id="navMenu" class="navbar-brand bold" href="">SkincareSavant</a>
         <a id="navMenu" class="navbar-brand" href="">HOME</a>
       </div>
       <div class="p-2 bd-highlight">
         <a id="navMenu" class="navbar-brand" href="/login">LOGIN</a>
       </div>
       <div class="p-2 bd-highlight">
         <a id="navMenu" class="navbar-brand" href="/about">ABOUT US</a>
       </div>
     </div>
   </nav>