<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Document</title>
  </head>
  <body>
      <h1> this is the comment page </h1>
    <!-- <form action="/users/comment" method="POST">
      <label>
        Name:
        <input type="name" name="name" />
      </label>
      <label>
        Title:
        <input type="title" name="title" />
      </label>
      <button type="submit">Add Comment</button>
    </form> -->


    <div class="container pt-5">
      <div class="container">
          <form action="/users/comment" method="POST">
        <div class="form-group">
            <label>
                
                <input type="name"  name="name" />
              </label>
          <textarea
            class="form-control rounded-0"
            placeholder="Leave a comment here" rows="4"  name="title"
          ></textarea>
        </div>
        <div class="form-group pt-2">
        <button type="submit" class="btn rounded-0 btn-primary w-100">Add Comments</button>
        </div>
        </form>
      </div>
    </div>

    <div class="contaner pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
           <strong> </strong>
            <br/>
           
          </div>

  </body>
</html>
