<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <h2>Welcome to <%= title %></h2>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>LOGIN</button></a>
  </body>
</html>
