<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/indexHead') -%>
  </head>

  <body>

    <br><br>
    <div class="container">
      <%- include('partials/home-nav') %>
      <div id="main-container">
        <div class="row">
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1>Welcome To SkincareSavant</h1><br>
            <div class="row">
              <h3>your one-stop shop for all things skincare</h3>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row" id="submit-button-div">
          <div class="row">
            <div class="col text-center">
              <a href="/login" id="submit-button" class="btn btn-dark">
                Find Your Skin Type
              </a>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
