<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page </title>
</head>
<body>
    <h1> Welcome <%= name %> to the protected profile page </h1>

    <form id="expForm" action="/users/profile" method="POST">

    <!-- <div id="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
      </div> -->

      <!-- for test only / a quiz template goes here-->
      <div class="formLine right">
        <span for="name">question 1</span>
        <input type="text" name="q1" id="name">
      </div>
      <div class="formLine right">
        <span for="name">question 2</span>
        <input type="text" name="q2" id="name">
      </div>
      <div class="formLine right">
        <span for="name">question 3</span>
        <input type="text" name="q3" id="name">
      </div>
      
   </form>

  <img src="https://media0.giphy.com/media/H1BWteEWGmSlbNUcTk/giphy-downsized.gif?cid=646febc5da0b63c9a36408ca225237b11ea0c1180b7d17b0&rid=giphy-downsized.gif" alt="funny GIF" height="25%" width="25%">
  <img src="https://media.giphy.com/media/5vhZtUPLrue1wWwdYe/giphy.gif" alt="funny GIF" height="25%" width="25%">

</body>
</html>