<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <title>profile page </title>
</head>

<body>
  <h1> Welcome <%= name %> to the protected profile page </h1>

  <form action="/users/quiz" method="POST">
    <div class="question">
      <p><strong>Q1</strong>: This is how I would describe the shine of my skin:</p>
      <label>
        <input type="radio" name="q1" value="9">Shiny in my T-zone, but dull on my cheeks.</label>
      <label>
        <input type="radio" name="q1" value="6">My face rarely gets shiny</label>
      <label>
        <input type="radio" name="q1" value="2">Dull everywhere</label>
    </div>


    <div class="question">
      <p><strong>Q2</strong>: How does your face react to makeup products after long periods of time?</p>
      <label>
        <input type="radio" name="q2" value="2">Product begins to look dull and face feels rough to touch</label>
      <label>
        <input type="radio" name="q2" value="7">Product fades and/or product is difficult to adhere to skin</label>
      <label>
        <input type="radio" name="q2" value="4">Product remains in tact on face with mild shine in T zone</label>
    </div>


    <div class="question">
      <p><strong>Q3</strong>: How does your skin feel after you wash your face before applying the product?</p>
      <label>
        <input type="radio" name="q3" value="2">Face feels tight  with no product added</label>
      <label>
        <input type="radio" name="q3" value="8">Face begins to produce oil/shine with no product applied</label>
      <label>
        <input type="radio" name="q3" value="6">Face feels normal with no product added</label>
    </div>

    <input type="submit" />

  </form>
  <!-- template source: https://jsfiddle.net/hibbard_eu/YB2KB/ -->
</body>

</html>