<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
    <form action="/users/register" method="POST">
      <label>
          Username:
          <input type="text" name="name">
      </label>
        <label>
            Username:
            <input type="text" name="username">
        </label>

        <label>
            Password:
            <input type="password" name="password">
        </label>

        <label>
            Email:
            <input type="email" name="email">
        </label>
        <button type="submit">REGISTER</button>
    </form>
</body>
</html>