<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skin Results for</title>
  </head>
  <body>
    <h1>your skin type is:</h1>
    <!-- render data from various skin types here so user can see in UI  -->

    <!-- looping through everything in the products arra  -->
    <%products.forEach(function(product) { %>
<div>
   <p> <%=product.brand%></p>
   <p> <%=product.productName%></p>
   
   <img src=<%=product.url%> width="100" height="100"/> 

</div>
   <% }); %>

 
  </body>
</html>
