body {
    /* min-height: 100%; */
    background-image: url("../images/img04.jpg");
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
  }