label{ display: block; }
input[type=submit]{ margin-top: 15px; }


h1 ,h2, h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 40px;
}



body {

	min-height: 100%;
	background-image: url("../images/img03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

	
}
.grid-container {
  display: grid;
  justify-content:center;
  /* grid-template-columns: 300px 300px 300px ; */
  background-color: #f1ebf0b0;
}
.grid-container > div {
  padding-top: 20px;
  font-family: cursive;
  font-size: 20px;
  
}

h1 {
  text-align: center;
  padding: 10px;

}





/* .about-cards-section{

  .card-wrapper{
      margin: 5% 0;

      .card-style{
          text-align: center;
          border-radius: initial;
          border: initial; */


          /* .circle-image{
              width: 60%;
              height: 200px;
              text-align: center;
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 20px;
          } */

          .card-title{

              text-transform: uppercase;
              letter-spacing: 1.1px;
          }
          .card-text{
              font-family: MerriweatherRegular;
              font-size: 22px;
              line-height: initial;

          }
      

/* this is for quiz container */

/* div.col-sm-4 {
  margin: 0 auto; 
        float: none; 
        margin-bottom: 10px;
        background-color: rgba(250, 235, 215, 0.856);
} */


div.card {
  /* border: 2px solid red; */
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
  background-color: rgba(251, 251, 251, 0.863);
  border: 3px solid rgb(240, 208, 233);
  border-radius: 5px;
  padding: 5px;
}

.hide{
  display: none;
}

