body {
  min-height: 100%;
  background-image: url("../images/img02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.container { 
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid-container {
  display: grid;
  justify-content:center;
  grid-template-columns: 200px 200px 200px 200px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  font-size: 30px;
}