body {
  min-height: 100%;
  background-image: url("../images/img04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#navBar {
  background-color:brown;
}

#navigation{
  style="background-color: #c776af50"
}

/* #nav-container{
  color: red
} */

#navMenu:hover{
  background-color: white;
  color: #e76671;
  }

h1 {
  font-family: 'Source Serif Pro', serif;

  text-align: center;
  margin-top: 40px;
}
h2 {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  margin-top: 40px;
}
h3 {
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  margin-top: 40px;
}


.button {
  background-color: #f7dbf0;
  color: rgb(15, 15, 15);
  /* padding: 15px 50px; */
  /* text-align: center;
  text-decoration: none;
  display: inline-block; */
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;


}

#submit-button:hover{
background-color: white;
color: #e76671;
}


#submit-button-div{



  }

  #submit-button{
    /* width: 20%; */
    width: auto;
    font-family: 'Source Serif Pro', serif;
  }

.container { 
  height: 200px;
  position:relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid-container {
  display: grid;
  justify-content:center;
  grid-template-columns: 300px 300px 300px ;
  background-color: #f3dcef8a;
}
.grid-container > div {
  font-family: cursive;
  padding-top: 50px ;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
  
}

#main-container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
}


/* container for welcom to skincare */


#landing-page-main {
  background-color: #f3dcef8a;
  padding: 10px;
  margin-top: 40px;
  
}