body {
  min-height: 100%;
  background-image: url("../images/img02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.navbar {
  padding: 30px;
}
h1 {
  font-family: "lucida handwriting", cursive;

  text-align: center;
  margin-top: 40px;
}
h3 {
  font-family:  cursive;
  text-align: center;
  margin-top: 40px;
}


.button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.container { 
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid-container {
  display: grid;
  justify-content:center;
  grid-template-columns: 300px 300px 300px ;
  padding: 10px;
  background-color: #4caf4f36;
}
.grid-container > div {
  font-family: cursive;
  padding-top: 50px ;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
}